<div class="section">
    <div class="container w-container">

        <div class="row w-row">

            <% if (pizzas.length > 0) { %>

                <% pizzas.forEach(pizza => { %>
                    <div class="col w-col w-col-4">

                        <div class="bottom-margin-small three-block-holder-single w-clearfix">
                            <div class="image-holder">

                                <img src="/assets/images/menu-images/menu-whole-pizza.png" alt="<%= pizza.name %>">

                                <div class="bottom-margin-small half three-block-content-single">

                                    <!-- Pizza neve -->
                                    <div class="menu-title-bg"><%= pizza.name %></div>

                                    <!-- Kategória + vegetáriánus -->
                                    <div>
                                        <%= pizza.category || 'N/A' %>

                                        <% if (pizza.vegetarianus) { %>
                                            <span class="inline-block bg-green-100 text-green-800 text-xs font-semibold px-2.5 py-0.5 rounded">
                                                - Vegetáriánus 🌱
                                            </span>
                                        <% } %>
                                    </div>

                                    <!-- Ár -->
                                    <div class="p-6 pt-0">
                                        <div class="text-lg font-bold text-red-600">
                                            <%= pizza.price %> Ft
                                        </div>
                                    </div>

                                    <br />
                                    <a class="small-text" href="/rendeles/<%= pizza.id %>">Kosárba →</a>

                                </div>
                            </div>
                        </div>

                    </div>
                <% }) %>

            <% } else { %>

                <p class="col-span-full text-center text-gray-500 py-10">
                    Jelenleg nincs pizza az étlapon az adatbázisban.
                </p>

            <% } %>

        </div>

    </div>
</div>
